<ol class="post-list">
    {{#each tickets as |ticket|}}
    <li>
        <div class="ticket">
            <!-- <h2 class="title">Software programming issue</h2> -->
            <div class="ticket-info">
                <div class="flex-wrap left-side">
                    <p class="requestor">Requestor: {{ticket.user}}</p>
                    <textarea id="description" readonly>

                    </textarea>
                </div>
                <div class="flex-wrap right-side">
                    <p class="info" id="date">Submission Date: {{ticket.date}}</p>
                    <p class="info">Type: {{ticket.category}}</p>
                    <p class="info">Status: {{ticket.status}}</p>
                    <button type="submit" class="button">
                        Delete
                    </button>
                    <button type="submit" class="button">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</ol>