
{{!-- edit doesn't work for now will fix in the future --}}
<div class="header">
    <a href="/">
        <h1>Ticket Support</h1>
    </a>
    <div>
        <ul>
            <li>
                <p id="user">{{user.username}}</p>
            </li>
            <li>
                <a href="#" id="logout">Logout</a>
            </li>
            <li>
                <a href="./submit">Submit New Ticket</a>
            </li>

        </ul>
    </div>
</div>
<div class="hero">
    <img src="./images/people.jpg" />
</div>

<div class="ticket-list">
    {{!-- <p class="total">Total Tickets: 3</p> --}}
    {{#each tickets as |ticket|}}
    {{> ticket ticket}}
    {{/each}}
</div>

<script src="./js/homepage.js"></script>