<div class="header">
    <h1>Ticket Support</h1>
    <div>
        <ul>
            <li>
                <a href="#search-engine-optimization">Logout</a>
            </li>
            <li>
                <a href="./submit">Submit New Ticket</a>
            </li>

        </ul>
    </div>
</div>
<div class="hero">
    <img src="./images/people.jpg" />
</div>

<div class="ticket-list">
    <p class="total">Total Tickets: 3</p>
    {{> ticket }}
</div>