<link rel="stylesheet" href="./css/style.css">

<body>
    <header class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-dark text-light text-center">
        <h1 class="display-4 col-12">Ticket Support</h1>
        <p> Get 24/7 live access to ticket support from your desk.</br> We help you get moving!</p>
    </header>

    <main class="flex-column justify-space-between">
        <div class="col-12 col-md-4">
            <div class="card">
                <form id="login-form" class="card-body has-validation" method="POST" action="/api/users/login" novalidate>
                    <div>
                        {{#if error}}
                        <h3>{{error.[0]}}</h3>
                        {{/if}}
                    </div>
                    <label class="form-label" for="username-login">Username:</label>
                    <input name="username-login" id="username-login" type="username" autofocus="true"
                        class="form-input" />
                    </br>
                    <label class="form-label" for="password-login">password:</label>
                    <input name="password-login" id="password-login" type="password" autofocus="true" class="form-input"
                        minlength="8" required /> </br>
                    <button type="submit" value="sign in" class="btn btn-primary text-center"
                        id="login-btn">Login</button>
                    <button type="button" value="signUp" id="create-account" class="btn btn-success text-center"
                        data-toogle="modal" data-target="#modalForm">Create New Account</button>
                </form>
            </div>

            <div class="modal-fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalForm"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle">Sign Up </br>It's quick and easy.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="signup-form">
                                <label class="modal-label" for="username-register"></label>
                                <input name="username-register" id="username-register" type="username" autofocus="true"
                                    placeholder="Choose username" />
                                <div class="invalid-feedback">
                                    username is taken
                                </div>
                                <label class="modal-label" for="email-register"></label>
                                <input name="email-register" id="email-register" type="email" autofocus="true"
                                    placeholder="email" />
                                <div class="invalid-feedback">
                                    email is already in use
                                </div>
                                <label class="modal-label" for="password-register"></label>
                                <input name="password-register" id="password-register" type="password" autofocus="true"
                                    minlength="8" placeholder="New Password" />
                                <div class="invalid-feedback">
                                    password must be between 
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="modal-close">Close</button>
                            <button type="button" class="btn btn-primary" id="sign-up">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
    </main>

    <script src="./js/login.js"></script>