<form class="login-form">
    <label for="username">Username</label>
    <input type="text" name="username" id="username-login">
    <label for="password">Password</label>
    <input type="password" name="password" id="password-login"> 
    <button type="submit" id="login">Log in</button>
</form>

<h1>Sign up</h1>
<form class="register-form">
    <label for="username">Username</label>
    <input type="text" name="username" id="username-register">
    <label for="email">email</label>
    <input type="email" name="email" id="email-register">
    <label for="password">Password</label>
    <input type="password" name="password" id="password-register">
    <button type="submit" id="submit">Submit</button>
</form>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="./js/login.js"></script>