<div class="header">
    <a href="./homepage">
        <h1>Ticket Support</h1>
    </a>
    <div>
        <ul>
            <li>
                <p>Questions? Call 1-800-567-2234</p>
            </li>
        </ul>
    </div>
</div>
<div class="contact-form">
    <form id="form">
        <select class="drop-down" id="options">
            <option value="Software">Software</option>
            <option value="Hardware">Hardware</option>
            <option value="User Authentication">User Authentication</option>
            <option value="Utilites">Utilites</option>
            <option value="Network">Network</option>
        </select>

        <label for="title">Enter a title</label>
        <input type="text" id="title" placeholder="Title" />

        <label for="description">Enter your description</label>
        <textarea id="description" placeholder="Give a detailed description"></textarea>

        <button type="button" id="submit">Submit</button>
    </form>
</div>
<script src="./js/submit.js"></script>