/* This contains the design for the blue navbar on top for homepage
and submit page. It does not contain css for the login page however.
 */

 header {
   width: 200px;
 }

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
  }
  
  .header h1 {
    color: #ffffff;
    display: inline-block;
    font-size: 48px;
  }
  
  .header div {
    color: #ffffff;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  .header div a {
    color: #ffffff;
    text-decoration: none;
  }

  .header div ul {
    list-style-type: none;
  }
  
  .header div ul li {
    display: inline-block;
    margin-left: 25px;
  }

  @media screen and (max-width: 900px) {
    .header {
      padding: 0px;
      display: inline-block;
    } 

    /* .header div {
      padding: 0;
    } */

    .header h1 {
      margin-top: 15px;
      margin-left: 15px;
      font-size: 24px;
    }

    .nav-text {
      display: flex;
      flex-direction: row;
    }
    /* .questions {
      font-size: 20px;
      margin-right: 65px;
    } */
  }


  @media screen and (max-width: 575px) {
    .header {
      padding: 0px;
      display: inline-block;
    } 

    .header div {
      padding: 0;
    }

    .header h1 {
      margin-top: 10px;
      margin-left: 65px;
      font-size: 24px;
    }
    .questions {
      font-size: 20px;
      margin-right: 65px;
    }
  }

  @media screen and (max-width: 320px) {
    .header {
      padding: 0px;
      display: inline-block;
    } 

    .header div {
      padding: 0;
    }

    .header h1 {
      margin-top: 10px;
      margin-left: 65px;
      font-size: 24px;
    }
    .questions {
      font-size: 20px;
    }
  }