:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
  
  }

<<<<<<< HEAD:public/css/submit.css
  /* ---------------------------- */
=======
.drop-down {
    margin: 20px 0 20px 20px;
    display: flex;
    flex-wrap: row;
    width: 10%;
    border-radius: 10px;
  }

>>>>>>> haniel/front-end:assets/css/submit.css
body {
    background-image: url("/images/laptop.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 20%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }

.contact-form input {
  margin-left: 20px;
}

.contact-form textarea {
  margin-left: 20px;
  height: 150px;
  }

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
.contact-form button {
    width: 10%;
    margin-left: 20px;
    margin-bottom: 500px;
    border: none;
    background: WhiteSmoke;
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
  }
  
.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
  }