
.requestor {
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 15px;
}

.hero img {
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.ticket {
  padding-top: 30px;
  padding-bottom: 20px;
}

.ticket-list {
  background-image: linear-gradient(180deg, WhiteSmoke, SlateGrey);
}

.ticket-info {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 3px solid #000000;
  border-radius: 15px;
  background-image: linear-gradient(180deg, SlateGrey, WhiteSmoke);
  color: #000000;
  }



.title {
  width: 50%;
  margin: auto;
  font-size: medium;
  text-align: center;
  border: 1px solid #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFEBCD;
}

.flex-wrap {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

textarea {
  height: 120px;
  resize: none;
  background-color: WhiteSmoke;
  padding: 5px;
  margin: 10px;
  border: 2px solid #000000;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  font-weight: bold;
  margin-right: 15px;
  margin-left: auto;
  margin-top: 6px;
  width: 30%;
  background-color: #F5F5F5;
  border: 2px solid #000000;
  border-radius: 10px;
}

.info {
  padding-top: 5px;
  text-align: right;
}

.total {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  width: 60%;
}

.type {
    margin-left: auto;
    width: 30%;
}

